/* Importing Google Fonts - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

.body-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F9FA;
    font-family: "inter", sans-serif;
}

.nav-bar {
    width: 100%;
    height: 136px;
    background: #fff;
    box-shadow: 0 5px 10.9px 0 rgba(0, 0, 0, 0.41);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    width: 559px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin: 23px 761px 14px 120px;
}

.nav-title {
    align-self: stretch;
    font-family: "Genshin Impact DRIP FONT";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(90deg, #805DFA 0%, #2993EE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.nav-btn {
    color: #1B1B1B;
    text-align: center;
    font-family: "Genshin Impact DRIP FONT";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    text-decoration: none;
}

.nav-home .nav-shop {
    width: 97px;
}

.nav-featured {
    width: 157px;
}

.nav-about {
    width: 137px;
}

.nav-btn:hover {
    color: #805DFA;
    transition: color 0.3s ease;
}

/* RIGHT - ICONS */
.nav-right {
    display: inline-flex;
    align-items: center;
    gap: 27px;
    margin: 21px 137px 84px -74px;
}

.website-config {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    cursor: pointer;
    transition: 0.2s ease;
}

.icon:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 0 6px #805DFA);
    opacity: 0.9;
}

.search-icon {
    width: 30px;
    height: 30px;
}

.user-icon {
    width: 33px;
    height: 31px;
}

.notification-icon {
    width: 26px;
    height: 30px;
}

.eng-lang {
    width: 108px;
    color: #1B1B1B;
    text-align: center;
    font-family: "Genshin Impact DRIP FONT";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropdown-icon {
    width: 24px;
    height: 12px;
}

/* Main Page */
.main-page {
    align-items: center;
    background-color: #F8F9FA;
    margin-top: 230px;
}

/* Carousel Section */

.carousel-container {
  width: 1580px;
  height: 1000px;
  position: relative;
  margin: 0 auto;
}

.swiper {
    position: relative;
    margin: 0 auto;
}

.shop-carousel {
    display: flex;
    width: 1580px;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    margin: 0 auto;
}

.section-title {
    align-self: stretch;
    font-family: "Genshin Impact DRIP FONT";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #825CFA 0%, #2596ED 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel-list .carousel-item {
    list-style: none;
}

.carousel-list .carousel-item .carousel-link {
    height: auto;
    transition: 0.2s ease;
    text-decoration: none;
    user-select: none;
}

.carousel-list .carousel-link .carousel-image {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.sakamoto-days {
    aspect-ratio: 1241 / 817;
}

.carousel-title {
    position: absolute;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    z-index: 1000;
    bottom: 143px;
    left: 140px;
}

.carousel-item {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.carousel-item:hover .carousel-image {
    transform: scale(1.07);
}

.swiper-button-prev,
.swiper-button-next {
    width: 77px !important;
    height: 77px !important;
    border-radius: 77px !important;
    opacity: 0.5 !important;
    background: #A7A7A7 !important; 
    z-index: 99999 !important;
}

.prev-btn,
.next-btn {
    stroke-width: 3px;
    stroke: #E3E3E3;
}

.swiper-button-prev {
    left: 30px !important;
}

.swiper-button-next {
    right: 30px !important;
}

.swiper-pagination {
    bottom: 35px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    background-color: #c5c5c5 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
}

/* Anime Section */
.anime-picker {
    display: flex;
    width: 1580px;
    flex-direction: column;
    gap: 27px;
    margin: 0 auto;
    margin-top: 130px;
}

.anime-container {
    display: grid;
    width: 1580px;
    row-gap: 49px;
    column-gap: 49px;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.anime-box .anime-img .view-box{
    width: 280px;
    height: 280px;
    border-radius: 20px;
}

.anime-box {
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
}

.anime-box .anime-link {
    text-decoration: none;
    user-select: none;
}

.anime-title {
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 1000;
    bottom: 20px;
    left: 20px;
}

.anime-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease
}

.view-box {
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #825CFA 24.57%, #2596ED 98.29%);
}

.view-more-btn {
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background: rgba(189, 184, 255, 0.49);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: transform 0.4s ease
}

.anime-view-more {
    position: absolute;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    z-index: 2000;
    bottom: 50px;
    left: 45px;
}

.anime-box:hover .anime-img {
    transform: scale(1.10);
}

.view-box:hover .view-more-btn {
    background: linear-gradient(135deg, #825CFA 24.57%, #2596ED 98.29%);
}