/* Importing Google Fonts - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

.body-page {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f2f2f2;
    font-family: "inter", sans-serif;
}

.nav-bar {
    width: 100%;
    height: 136px;
    background: #fff;
    box-shadow: 0 5px 10.9px 0 rgba(0, 0, 0, 0.41);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    width: 559px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin: 23px 761px 14px 120px;
}

.nav-title {
    align-self: stretch;
    font-family: "Genshin Impact DRIP FONT";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(90deg, #805DFA 0%, #2993EE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 34px;
    align-self: stretch;
}

.nav-btn {
    color: #1B1B1B;
    text-align: center;
    font-family: "Genshin Impact DRIP FONT";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    text-decoration: none;
}

.nav-home .nav-shop {
    width: 97px;
}

.nav-featured {
    width: 157px;
}

.nav-about {
    width: 137px;
}

.nav-btn:hover {
    color: #805DFA;
    transition: color 0.3s ease;
}

/* RIGHT - ICONS */
.nav-right {
    display: inline-flex;
    align-items: center;
    gap: 27px;
    margin: 21px 137px 84px -74px;
}

.website-config {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    cursor: pointer;
    transition: 0.2s ease;
}

.icon:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 0 6px #805DFA);
    opacity: 0.9;
}

.search-icon {
    width: 30px;
    height: 30px;
}

.user-icon {
    width: 33px;
    height: 31px;
}

.notification-icon {
    width: 26px;
    height: 30px;
}

.eng-lang {
    width: 108px;
    color: #1B1B1B;
    text-align: center;
    font-family: "Genshin Impact DRIP FONT";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropdown-icon {
    width: 24px;
    height: 12px;
}

/* Main Page */
.main-page {
    display: block;
    width: 100%;
    align-items: center;
    background-color: #f2f2f2;
    margin-top: 230px;
}

/* Carousel Section */

.carousel-container {
  max-width: 1580px;
  height: 1000px;
  position: relative;
  margin: 0 auto;
}

.swiper {
    position: relative;
    margin: 0 auto;
}

.shop-carousel {
    display: flex;
    max-width: 1580px;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    margin: 0 auto;
}

.section-title {
    align-self: stretch;
    font-family: "Genshin Impact DRIP FONT";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #825CFA 0%, #2596ED 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel-list .carousel-item {
    list-style: none;
}

.carousel-list .carousel-item .carousel-link {
    height: auto;
    transition: 0.2s ease;
    text-decoration: none;
    user-select: none;
}

.carousel-list .carousel-link .carousel-image {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.sakamoto-days {
    aspect-ratio: 1241 / 817;
}

.carousel-title {
    position: absolute;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    z-index: 1000;
    bottom: 143px;
    left: 140px;
}

.carousel-item {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.carousel-item:hover .carousel-image {
    transform: scale(1.07);
}

.swiper-button-prev,
.swiper-button-next {
    width: 77px !important;
    height: 77px !important;
    border-radius: 77px !important;
    opacity: 0.5 !important;
    background: #A7A7A7 !important; 
    z-index: 99999 !important;
}

.prev-btn,
.next-btn {
    stroke-width: 3px;
    stroke: #E3E3E3;
}

.swiper-button-prev {
    left: 30px !important;
}

.swiper-button-next {
    right: 30px !important;
}

.swiper-pagination {
    bottom: 35px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    background-color: #c5c5c5 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
}

/* Anime Section */
.anime-picker {
    display: flex;
    max-width: 1580px;
    flex-direction: column;
    gap: 27px;
    margin: 0 auto;
    margin-top: 130px;
}

.anime-container {
    display: grid;
    width: 1580px;
    row-gap: 49px;
    column-gap: 49px;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.anime-box .anime-img .view-box{
    width: 280px;
    height: 280px;
    border-radius: 20px;
}

.anime-box {
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
}

.anime-box .anime-link {
    text-decoration: none;
    user-select: none;
}

.anime-title {
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 1000;
    bottom: 23px;
    left: 23px;
}

.anime-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.blur-box {
    position: absolute;
    top: 210px;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.view-box {
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #825CFA 24.57%, #2596ED 98.29%);
}

.view-more-btn {
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background: rgba(189, 184, 255, 0.49);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: transform 0.4s ease
}

.anime-view-more {
    position: absolute;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    z-index: 2000;
    bottom: 50px;
    left: 45px;
}

.anime-box:hover .anime-img {
    transform: scale(1.10);
}

.view-box:hover .view-more-btn {
    background: linear-gradient(135deg, #825CFA 24.57%, #2596ED 98.29%);
}

.product-section {
    display: flex;
    max-width: 1580px;
    flex-direction: column;
    gap: 27px;
    margin: 0 auto;
    margin-top: 130px;
}

.product-container {
    display: flex;
    margin: auto;
    align-items: flex-start;
    gap: 81px;
}

.content-left {
    display: flex;
    gap: 34px;
    align-items: flex-start;
}

.thumbs {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.thumbs-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
}

.main-product-img {
    width: 700px;
    height: 700px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    align-self: stretch;
}

.content-label {
    align-self: stretch;
    color: #6c6c6c;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-title {
    align-self: stretch;
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price {
    align-self: stretch;
    color: #EA756A;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line {
    width: 100%;
    height: 1px;
    background: #888;
    opacity: 0.8;
}

.content-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.desc {
    align-self: stretch;
    color: #262626;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quantity-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px 0;
}

.quantity-label {
    align-self: stretch;
    color: #6c6c6c;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quantity {
    width: 162px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 61px;
    background: transparent;
    border: #000 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.qty-btn {
    width: 32px;
    height: 32px;
    font-size: 22px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.add-to-cart-btn {
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 61px;
    background: linear-gradient(91deg, #825CFA 1.16%, #2596ED 100.75%);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.share-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 250,
    'GRAD' 0,
    'opsz' 48
}

.share-label {
    align-self: stretch;
    color: #6c6c6c;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.add-to-cart-btn:hover {
    background: linear-gradient(91deg, #8b69fb 1.16%, #4da2e3 100.75%);
    transition: background 0.3s ease;
}

.share-box:hover, 
.share-label:hover {
    color: #825CFA;
    transition: color 0.3s ease;
}

/* NEWEST PRODUCT */
.newest-product-section {
    display: flex;
    max-width: 1580px;
    flex-direction: column;
    gap: 27px;
    margin: 0 auto;
    margin-top: 130px;
}

.product-card-container {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.product-card {
    align-items: center;
    background: #FFF;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 365px;
    height: 485px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.product-card-img {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    aspect-ratio: 281/355;
    display: block;
    object-fit: contain;
}

.figurine-label {
    position: absolute;
    flex-direction: column;
    display: flex;
    gap: 10px;
    left: 30px;
    top: 370px;
}

.product-card-label {
    color: #333;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-card-title {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.product-card-price {
    color: #EA756A;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.frieren {
    position: absolute;
    top: 30px;
    width: 169px;
    height: 298px;
    flex-shrink: 0;
    aspect-ratio: 169/298;
    object-fit: cover;
}

.gojo {
    position: absolute;
    top: 30px;
}

.product-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* FEATURED SECTION */

.featured-section {
    display: flex;
    max-width: 1580px;
    flex-direction: column;
    gap: 27px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
}

.featured-card-container {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.featured-card {
    align-items: center;
    background: #FFF;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 365px;
    height: 485px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.featured-card-img {
    position: absolute;
    top: 30px;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    aspect-ratio: 281/355;
    display: block;
    object-fit: contain;
}

.trading-card-label {
    position: absolute;
    flex-direction: column;
    display: flex;
    gap: 10px;
    left: 30px;
    top: 370px;
}

.featured-card-label {
    color: #333;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.featured-card-title {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.featured-card-price {
    color: #EA756A;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.featured-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* FOOTER */

.footer {
    clear: both;
    position: relative;
    width: 100%;
    display: flex;
    padding: 43px 140px 73px 140px;
    align-items: flex-start;
    gap: 239px;
    background: #FFF;
    box-shadow: 0 -6px 10.9px 0 rgba(0, 0, 0, 0.41);
}

.footer-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 239px;
}

.footer-left {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

.footer-logo {
    width: 358px;
    height: 153px;
    aspect-ratio: 358/153;
}

.footer-title {
    align-self: stretch;
    text-align: center;
    font-family: "Genshin Impact DRIP FONT";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(90deg, #825CFA 0%, #2596ED 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-right {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    gap: 21px;
}

.footer-col-container {
    display: flex;
    align-items: flex-start;
    gap: 104px;
    align-self: stretch;
}

.footer-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    flex: 1 0 0;
}

.footer-col-title {
    align-items: stretch;
    color: #000;
    font-family: "Segoe UI";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-link {
    align-items: stretch;
    color: #000;
    font-family: "Segoe UI";
    font-size: 15px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    text-decoration: none;
}

.footer-sched {
    align-items: stretch;
    color: #000;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}

.footer-btn {
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 61px;
    background: linear-gradient(91deg, #825CFA 1.16%, #2596ED 100.75%);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.link-logo {
    width: 24px;
    height: 24px;
}